body {
    font-family: "Lexend Deca",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: 0.5em;
}

dd > ul {
    padding-left: 0;
}

em {
    font-style: normal;
    font-weight: bold;
}

dfn {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;
}